<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/registrar_infrestuctura_desktop.css" />
    <title>Registrar Infraestructura | ElectroCRE</title>
  </head>
  <body>
    <header>
      <nav>
        <section class="nav--logos">
          <img
            src="https://framework-gb.cdn.gob.mx/landing/img/logofooter.png"
            alt="center"
            class="Mex"
          />
          <img
            src="../../public/images/logo_electrocre.png"
            align="center"
            class="CRE"
          />
        </section>
      </nav>
      <i></i>
    </header>
    <main>
      <section class="formulario">
        <p class="formulario__separadoresTitulo">Datos del Usuario Final</p>
        <span></span>

        <section class="formulario__treColumnas">
          <section class="formulario__treColumnas--inputText">
            <p>Apellido Paterno</p>
            <input type="text" name="" id="" />
          </section>
          <section class="formulario__treColumnas--inputText">
            <p>Apellido Materno</p>
            <input type="text" name="" id="" />
          </section>
          <section class="formulario__treColumnas--inputText">
            <p>Nombre(s)</p>
            <input type="text" name="" id="" />
          </section>
        </section>

        <p class="formulario__separadores">
          Datos del domicilio donde se realiza la actividad de venta de energía
        </p>
        <span></span>

        <section class="formulario__treColumnas">
          <section class="formulario__treColumnas--inputText">
            <p>Calle, no. interior, no. Exterior:</p>
            <input type="text" name="" id="" />
          </section>
          <section class="formulario__treColumnas--inputText">
            <p>Código Postal:</p>
            <input type="text" name="" id="" />
          </section>
          <section class="formulario__treColumnas--inputText">
            <p>Colonia:</p>
            <input type="text" name="" id="" />
          </section>
        </section>

        <section class="formulario__treColumnas">
          <section class="formulario__treColumnas--inputText">
            <p>Delegación/Municipio:</p>
            <input type="text" name="" id="" />
          </section>
          <section class="formulario__treColumnas--inputText">
            <p>Entidad Federativa:</p>
            <input type="text" name="" id="" />
          </section>
        </section>

        <p class="formulario__separadores">Coordeandas geográficas</p>
        <span></span>

        <section class="formulario__treColumnas">
          <section class="formulario__treColumnas--inputText">
            <p>Altitud:</p>
            <input type="text" name="" id="" />
          </section>
          <section class="formulario__treColumnas--inputText">
            <p>Latitud:</p>
            <input type="text" name="" id="" />
          </section>
        </section>

        <p class="formulario__separadores">
          Registro de Usuario (RMU/RPU cuando aplique)
        </p>
        <span></span>

        <section class="formulario__treColumnas">
          <section class="formulario__treColumnas--inputText">
            <p>Usuario:</p>
            <input type="text" name="" id="" />
          </section>
        </section>

        <p class="formulario__separadoresTitulo">
          Actualización de Precios de Energía
        </p>
        <span></span>

        <section class="formulario__treColumnas">
          <section class="formulario__treColumnas--inputText">
            <p>Producto:</p>
            <select name="" id="">
              <option value="0">Energía Eléctrica</option>
            </select>
          </section>

          <section class="formulario__treColumnas--inputText">
            <p>Precio vigente [$/kwh]:</p>
            <input type="text" name="" id="" />
          </section>
          <section class="formulario__treColumnas--inputText">
            <p>Nuevo precio [$/kWh]:</p>
            <input type="text" name="" id="" />
          </section>
        </section>

        <section class="formulario__treColumnas">
          <section class="formulario__treColumnas--inputText">
            <p>Fecha de aplicación:</p>
            <input type="date" name="" id="" />
          </section>
          <section class="formulario__treColumnas--inputText">
            <p>Hora de apliación:</p>
            <input type="datetime-local" name="" id="" />
          </section>
        </section>

        <section class="formulario__boton">
          <a href="./cuenta_personal.html">Actualizar Precio</a>
        </section>
      </section>
    </main>
    <footer></footer>
  </body>
</html>
