<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="../css/consulta_desktop.css"
      media="screen and (min-width: 769px)"
    />
    <link
      rel="stylesheet"
      href="../css/consulta_mobile.css"
      media="screen and (max-width: 768px)"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
      integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
      crossorigin=""
    />
    <script
      src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
      integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
      crossorigin=""
    ></script>

    <title>ElectroCRE|Consulta Pública</title>
  </head>

  <body>
    <header>
      <nav>
        <section class="nav--logos">
          <img
            src="https://framework-gb.cdn.gob.mx/landing/img/logofooter.png"
            alt="center"
            class="Mex"
          />
          <img
            src="../../public/images/logo_electrocre.png"
            align="center"
            class="electrocre"
          />
        </section>
      </nav>
      <i></i>
    </header>
    <main>
      <section class="modal" id="modal">
        <section id="modal__inicio" class="modal__inicio">
          <p class="modal__inicio--titulo">Bienvenidos</p>
          <p class="modal__inicio--texto">
            Los desafíos del cambio climático son complejos, incluida la reducción
            de gases de efecto invernadero, meta a la que México se compromete.
            Una medida implementada es aumentar el uso de transporte eléctrico
            para reducir emisiones. Esta transición presenta desafíos en
            infraestructura y normativas públicas. Según el Acuerdo Núm.
            A/XXX/2024, la CRE introduce ElectroCRE para informar sobre la
            infraestructura de carga de vehículos eléctricos e híbridos
            enchufables, así como los requisitos para integrarla al Sistema
            Eléctrico Nacional.
          </p>
          <section class="modal__inicio--boton">
            <button id="buttonModal" >Aceptar</button>
          </section>
        </section>
      </section>

      <section class="mapa">
        <section class="mapa__informacion">
          <p class="mapa__informacion--titulo">
            Mapa de las estaciones de carga pública y electrolineras
          </p>
          <i class="mapa__informacion--linea"></i>
          <i class="mapa__informacion--franja"></i>
          <p class="mapa__informacion--contexto">
            En esta sección se muestra como se encuentra la infraestructura de
            carga en México de las electrolineras y estaciones de carga
            públicas, para que los usuarios que tengan un vehículo eléctrico o
            un vehículo eléctrico híbrido enchufable puedan ubicar la
            infraestructura de carga más cercana.
          </p>
        </section>

        <section class="mapa__layout">
          <section class="mapa__layout--grafico" id="mapa__layout--grafico">
            <div id="map"></div>
          </section>
          <section
            class="mapa__layout--informacion"
            id="mapa__layout--informacion"
          >
            <section class="informacion__tipoEstacion">
              <p id="tipoEstacion"></p>
              <img src="" id="imgEstacion" alt="" srcset="" />
            </section>

            <section class="informacion__nombreEstacion">
              <p id="nombreEstacion"></p>
            </section>

            <section class="informacion__ubicacion">
              <img
                src="../../public/images/location_black.svg"
                alt=""
                srcset=""
              />
              <a href="" id="vaciadoURL" target="_blank">Abrir en Google Maps</a>
            </section>

            <section class="informacion__estacion">
              <section class="estacion__titulo">
                <img
                  src="../../public/images/cable_black.svg"
                  alt=""
                  srcset=""
                />
                <p>Conectores</p>
              </section>

              <section class="estacion__table">
                <table>
                  <thead class="table__head">
                    <tr>
                      <th class="table__head--conector">Conector</th>
                      <th class="table__head--nombre">Nombre</th>
                      <th class="table__head--corriente">AC/CC</th>
                      <th class="table__head--potencia">Potencia</th>
                      <th class="table__head--modoCarga">Modo de Carga</th>
                      <th class="table__head--tarifa">Tarifa</th>
                    </tr>
                  </thead>
                  <tbody class="table__body" id="table__body"></tbody>
                </table>
              </section>
            </section>
          </section>
        </section>
      </section>

      <section class="grafico">
        <canvas id="bar"></canvas>
      </section>
    </main>
    <footer></footer>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="../js/consulta.js"></script>
  <script src="../js/mapa_georeferenciado.js"></script>
  <script src="../js/consulta_grafico.js"></script>
</html>
