<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/consulta_desktop.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
      integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
      crossorigin=""
    />
    <script
      src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
      integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
      crossorigin=""
    ></script>

    <title>ElectroCRE|Consulta Pública</title>
  </head>
  <body>
    <header>
      <nav>
        <section class="nav--logos">
          <img
            src="https://framework-gb.cdn.gob.mx/landing/img/logofooter.png"
            alt="center"
            class="Mex"
          />
          <img
            src="../../public/images/logo_electrocre.png"
            align="center"
            class="CRE"
          />
        </section>
      </nav>
      <i></i>
    </header>
    <main>
      <section id="modal__inicio" class="modal__inicio">
        <p class="modal__inicio--titulo">¡Bienvenidos!</p>
        <p class="modal__inicio--texto">
          Los desafíos del cambio climático son complejos, incluida la reducción
          de gases de efecto invernadero, meta a la que México se compromete.
          Una medida implementada es aumentar el uso de transporte eléctrico
          para reducir emisiones. Esta transición presenta desafíos en
          infraestructura y normativas públicas. Según el Acuerdo Núm.
          A/XXX/2024, la CRE introduce ElectroCRE para informar sobre la
          infraestructura de carga de vehículos eléctricos e híbridos
          enchufables, así como los requisitos para integrarla al Sistema
          Eléctrico Nacional.
          <button id="buttonModal" class="modal__inicio--boton">Aceptar</button>
        </p>
      </section>
      <section class="mapa">
        <section class="mapa__informacion">
          <p class="mapa__informacion--titulo">
            Mapa de las estaciones de carga pública y electrolineras
          </p>
          <i class="mapa__informacion--linea"></i>
          <i class="mapa__informacion--franja"></i>
          <p class="mapa__informacion--contexto">
            En esta sección se muestra como se encuentra la infraestructura de
            carga en México de las electrolineras y estaciones de carga
            públicas, para que los usuarios que tengan un vehículo eléctrico o
            un vehículo eléctrico híbrido enchufable puedan ubicar la
            infraestructura de carga más cercana.
          </p>
        </section>

        <section class="mapa__layout">
          <section class="mapa__layout--grafico">
            <div id="map"></div>
          </section>
          <section
            class="mapa__layout--informacion"
            id="mapa__layout--informacion"
          >
            <section class="informacion__estacion">
              <p id="tipoEstacion"></p>
              <img src="" id="imgEstacion" alt="" srcset="" />
            </section>

            <section class="informacion__nombre">
              <p id="nombreEstacion"></p>
            </section>

            <section class="informacion__diversos">
              <section class="informacion__diversos--ubicacion">
                <img src="../../public/images/location_black.svg" alt="" srcset="" />
                <a
                  href=""
                  class="informacion__diversos--vaciado"
                  id="vaciadoURL"
                  target="_blank"
                  >Ver en Maps</a
                >
              </section>
              <!-- <section class="informacion__diversos--tarifa">
                <img src="../Imagenes/money_black.svg" alt="" srcset="" />
                <p
                  class="informacion__diversos--vaciado tarifa"
                  id="vaciadoTarifa"
                ></p>
                <p
                  class="informacion__diversos--vaciado"
                  id="vaciadoParametro"
                ></p>
              </section> -->
              <section class="informacion__diversos--tipoCargador">
                <section class="tipoCargador__titulo">
                  <img src="../../public/images/bolt_black.svg" alt="" srcset="" />
                  <p>Tipos de Cargador:</p>
                </section>
                <section class="tipoCargador__informacion">
                  <section class="tipoCargador__informacion--checkbox">
                    <input id="check1" type="checkbox" name="" id="" />
                    <input id="check2" type="checkbox" name="" id="" />
                    <input id="check3" type="checkbox" name="" id="" />
                  </section>
                  <section class="tipoCargador__informacion--nombres">
                    <div>
                      <img src="../../public/images/bolt_black.svg" alt="" srcset="" />
                      <p>Nivel 1 - CA (120-127V)</p>
                    </div>
                    <div>
                      <img src="../../public/images/bolt_black.svg" alt="" srcset="" />
                      <img src="../../public/images/bolt_black.svg" alt="" srcset="" />
                      <p>Nivel 2 - CA (220-240V)</p>
                    </div>
                    <div>
                      <img src="../../public/images/bolt_black.svg" alt="" srcset="" />
                      <img src="../../public/images/bolt_black.svg" alt="" srcset="" />
                      <img src="../../public/images/bolt_black.svg" alt="" srcset="" />
                      <p>Carga Rápida - CC</p>
                    </div>
                  </section>
                </section>
              </section>
              <section class="informacion__diversos--conectores">
                <section class="conectores__titulo">
                  <img src="../../public/images/cable_black.svg" alt="" srcset="" />
                  <p>Conectores</p>
                </section>

                <section class="conectores__informacion">
                  <section
                    class="conectores__informacion--grid"
                    id="conectores__informacion--grid"
                  >
                    <p>Conector</p>
                    <p>Nombre</p>
                    <p>AC/CC</p>
                    <p>Nivel</p>
                    <p>Tarifa</p>
                  </section>
                </section>
              </section>
            </section>
          </section>
        </section>
      </section>
    </main>
    <footer></footer>
  </body>

  <script src="../js/consulta.js"></script>
  <script src="../js/mapa_georeferenciado.js"></script>
</html>
