<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/cuenta_suministrador_desktop.css" />
    <title>Cuenta Suministrador | ElectroCRE</title>
  </head>
  <body>
    <header>
      <nav>
        <section class="nav--logos">
          <img
            src="https://framework-gb.cdn.gob.mx/landing/img/logofooter.png"
            alt="center"
            class="Mex"
          />
          <img
            src="../../public/images/logo_electrocre.png"
            align="center"
            class="CRE"
          />
        </section>
      </nav>
      <i></i>
    </header>
    <main>
      <section class="tabla">
        <section class="tabla__botones">
          <a href="">Ver Reportes Anteriores</a>
          <section class="tabla__botones--filtro">
            <p>Filtrar por: </p>
            <select name="" id="">
              <option value="1" selected>2024</option>
              <option value="2">2023</option>
              <option value="3">2022</option>
              <option value="4">2021</option>
            </select>
          </section>
          <a href="">Nueva Solicitud</a>
        </section>
        <section class="tabla__grid">
          <table>
            <thead>
              <tr>
                <th>Periodo</th>
                <th>Latitud</th>
                <th>Longitud</th>
                <th>RPU</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>May/23 - Nov/23</td>
                <td>20.783112681665266</td>
                <td>-101.46017253379192</td>
                <td>12345678</td>
              </tr>
              <tr>
                <td>Ene/23 - Jul/23</td>
                <td>20.783112681665266</td>
                <td>-101.46017253379192</td>
                <td>12345678</td>
              </tr>
              <tr>
                <td>Jul/23 - Dic/23</td>
                <td>20.783112681665266</td>
                <td>-101.46017253379192</td>
                <td>12345678</td>
              </tr>
              <tr>
                <td>May/23 - Nov/23</td>
                <td>20.783112681665266</td>
                <td>-101.46017253379192</td>
                <td>12345678</td>
              </tr>
            </tbody>
          </table>
        </section>
      </section>
    </main>
    <footer></footer>
  </body>
</html>
