<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/cuenta_personal_desktop.css" />
    <title>Cuenta Suministrador | ElectroCRE</title>
  </head>
  <body>
    <header>
      <nav>
        <section class="nav--logos">
          <img
            src="https://framework-gb.cdn.gob.mx/landing/img/logofooter.png"
            alt="center"
            class="Mex"
          />
          <img
            src="../../public/images/logo_electrocre.png"
            align="center"
            class="CRE"
          />
        </section>
      </nav>
      <i></i>
    </header>
    <main>
      <section class="informacion">
        <section class="informacion__logo">
          <img src="../../public/images/logo_electrocre.png" alt="" />
          <span class="loader"></span>
        </section>
        <section class="informacion__personal">
          <section class="informacion__personal--bienvenida">
            <h1>Hola José Antonio,</h1>
            <p>tu rol es Propietario</p>
          </section>
          <section class="informacion__personal--registro">
            <section class="columnaUno">
              <p class="columnaUno__label">Nombre(s)</p>
              <p>José Antonio Medina Martínez</p>
              <p class="columnaUno__label abajo">Razón Social</p>
              <p>La Gasolinera SA CV</p>
            </section>
            <section class="columnaUno">
              <p class="columnaUno__label">Teléfono</p>
              <p>5627722324</p>
              <p class="columnaUno__label abajo">Correo Electronico</p>
              <p>joseamm@comunidad.unam.mx</p>
            </section>
          </section>
        </section>
      </section>
      <section class="tabla">
        <section class="tabla__titulos"></section>
        <section class="tabla__botones">
          <section class="tabla__botones--filtro">
            <p>Filtrar por:</p>
            <select name="" id="filtrarAnual">
              <option value="1" selected>2024</option>
              <option value="2">2023</option>
              <option value="3">2022</option>
              <option value="4">2021</option>
            </select>
          </section>
          <a href="./registrar_infraestructura.html">Registrar Infraestructura</a>
        </section>
        <section class="tabla__grid">
          <table>
            <thead>
              <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Municipio</th>
                <th>Editar</th>
                <th>Tarifa</th>
              </tr>
            </thead>
            <tbody id="2023">
              <tr>
                <td>1</td>
                <td>La Electrolinera Durango</td>
                <td>Alvaro Obregon</td>
                <td><a href="./actualizar_infraestructura.html"><img src="../../public/images/edit_black.svg" alt="" srcset=""></a></td>
                <td><a href="./actualizar_tarifa.html"><img src="../../public/images/money_black.svg" alt=""></a></td>
              </tr>
              <tr>
                <td>2</td>
                <td>La Electrolinera Durango</td>
                <td>Alvaro Obregon</td>
                <td><a href="./actualizar_infraestructura.html"><img src="../../public/images/edit_black.svg" alt="" srcset=""></a></td>
                <td><a href="./actualizar_tarifa.html"><img src="../../public/images/money_black.svg" alt=""></a></td>
              </tr>
              <tr>
                <td>3</td>
                <td>La Electrolinera Durango</td>
                <td>Alvaro Obregon</td>
                <td><a href="./actualizar_infraestructura.html"><img src="../../public/images/edit_black.svg" alt="" srcset=""></a></td>
                <td><a href="./actualizar_tarifa.html"><img src="../../public/images/money_black.svg" alt=""></a></td>
              </tr>
              <tr>
                <td>4</td>
                <td>La Electrolinera Durango</td>
                <td>Alvaro Obregon</td>
                <td><a href="./actualizar_infraestructura.html"><img src="../../public/images/edit_black.svg" alt="" srcset=""></a></td>
                <td><a href="./actualizar_tarifa.html"><img src="../../public/images/money_black.svg" alt=""></a></td>
              </tr>
              <tr>
                <td>5</td>
                <td>La Electrolinera Durango</td>
                <td>Alvaro Obregon</td>
                <td><a href="./actualizar_infraestructura.html"><img src="../../public/images/edit_black.svg" alt="" srcset=""></a></td>
                <td><a href="./actualizar_tarifa.html"><img src="../../public/images/money_black.svg" alt=""></a></td>
              </tr>
            </tbody>
          </table>
        </section>
      </section>
    </main>
    <footer></footer>
  </body>
</html>
