<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/cuenta_personal_desktop.css" />
    <title>Cuenta Personal | ElectroCRE</title>
  </head>
  <body>
    <header>
      <nav>
        <section class="nav--logos">
          <img
            src="https://framework-gb.cdn.gob.mx/landing/img/logofooter.png"
            alt="center"
            class="Mex"
          />
          <img
            src="../../public/images/logo_electrocre.png"
            align="center"
            class="CRE"
          />
        </section>
      </nav>
      <i></i>
    </header>
    <main>
      <section class="informacion">
        <section class="informacion__logo">
          <img src="../../public/images/logo_electrocre.png" alt="" />
          <span class="loader"></span>
        </section>
        <section class="informacion__personal">
          <section class="informacion__personal--bienvenida">
            <h1>Hola José Antonio,</h1>
            <p>estás en tu Cuenta Personal ElectroCRE</p>
          </section>
          <section class="informacion__personal--registro">
            <section class="columnaUno">
              <p class="columnaUno__label">Nombre(s)</p>
              <p>José Antonio Medina Martínez</p>
              <p class="columnaUno__label abajo">Razón Social</p>
              <p>La Gasolinera SA CV</p>
            </section>
            <section class="columnaDos">
              <p class="columnaDos__titulo">Conector</p>
              <p class="columnaDos__titulo">Nombre</p>
              <p class="columnaDos__titulo">Tarifa</p>
              <img src="../../public/images/CCS2.png" alt="" />
              <p>CCS2</p>
              <p>$47/kWh</p>
              <img src="../../public/images/CHAdeMO.png" alt="" />
              <p>CHAdeMO</p>
              <p>$210/h</p>
            </section>
            <section></section>
          </section>
        </section>
      </section>

      <section class="tarjetas">
        <section class="tarjetas__registrar">
          <a href="./registrar_infraestructura.html">
            <img src="../../public/images/gas_gold.svg" alt="" />
            <p>Registrar Infraestructura</p>
          </a>
        </section>
        <section class="tarjetas__actualizar">
          <a href="./actualizar_infraestructura.html">
            <img src="../../public/images/update_gold.svg" alt="" />
            <p>Actualizar Infraestructura</p>
          </a>
        </section>
        <section class="tarjetas__tarifa">
          <a href="./actualizar_tarifa.html">
            <img src="../../public/images/money_gold.svg" alt="" srcset="" />
            <p>Actualizar Tarifa</p>
          </a>
        </section>
      </section>
    </main>
    <footer></footer>
  </body>
</html>
