<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="../css/personal_cre_desktop.css"
      media="screen and (min-width: 769px)"
    />

    <link
      rel="stylesheet"
      href="../css/personal_cre_mobile.css"
      media="screen and (max-width: 768px)"
    />

    <title>Personal CRE</title>
  </head>
  <body>
    <header>
      <nav
        class="navbar navbar-expand-sm navbar-light bg-light"
        aria-label="Third navbar example"
      >
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img
              src="../../public/images/logo_electrocre.png"
              alt=""
              srcset=""
              width="30px"
            />ElectroCRE</a
          >
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarsExample03"
            aria-controls="navbarsExample03"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarsExample03">
            <ul class="navbar-nav me-auto mb-2 mb-sm-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="./personal_cre.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./personal_cre_propietarios.html">Propietarios</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Suministradores</a>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                  >Cuenta</a
                >
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Configuración</a></li>
                  <li>
                    <a class="dropdown-item" href="../../index.html"
                      >Cerrar Sesión</a
                    >
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <section class="tabla">
        <section class="tabla__botones">
            <a href="./registrar_infraestructura.html">Registrar Infraestructura</a>
          </section>
        <section class="tabla__titulos">Propietarios</section>
        <section class="tabla__grid">
          <table>
            <thead>
              <tr>
                <th class="tabla__grid--ID">ID</th>
                <th class="tabla__grid--nombre">Nombre</th>
                <th class="tabla__grid--marca">Marca</th>
                <th class="tabla__grid--razonNombre">Razón Social/Nombre</th>
                <th class="tabla__grid--municipio">Municipio</th>
                <th class="tabla__grid--estatus">Estatus</th>
                <th class="tabla__grid--ubicacion">Ubicación</th>
                <th class="tabla__grid--ver">Ver</th>
                <th class="tabla__grid--habilitar">Habilitar</th>
                <th class="tabla__grid--borrar">Borrar</th>
              </tr>
            </thead>
            <tbody id="2023">
              <tr>
                <td class="tabla__grid--ID">1032</td>
                <td class="tabla__grid--persona">Moral</td>
                <td class="tabla__grid--marca">SHELL</td>
                <td class="tabla__grid--razonNombre">
                  COMBUSTIBLES DE CHAZUMBA SA DE CV
                </td>
                <td class="tabla__grid--municipio">Guerrero</td>
                <td class="tabla__grid--estatus">Aprobado</td>
                <td class="tabla__grid--ubicacion">
                  <a
                    href="https://maps.app.goo.gl/Bo9TeC7vrNSKiJuj8"
                    target="_blank"
                    ><img src="../../public/images/location_black.svg" alt=""
                  /></a>
                </td>
                <td class="tabla__grid--ver">
                  <a href="../views/actualizar_infraestructura.html"
                    ><img src="../../public/images/ver__black.svg" alt=""
                  /></a>
                </td>
                <td class="tabla__grid--habilitar">
                  <img
                    src="../../public/images/habilitar__green.svg"
                    class="habilitar"
                    alt=""
                  />
                </td>
                <td class="tabla__grid--borrar">
                  <img
                    src="../../public/images/delete__red.svg"
                    class="borrar"
                    alt=""
                  />
                </td>
              </tr>
              <tr>
                <td class="tabla__grid--ID">1033</td>
                <td class="tabla__grid--persona">Física</td>
                <td class="tabla__grid--marca">TESLA</td>
                <td class="tabla__grid--razonNombre">BURBIL</td>
                <td class="tabla__grid--municipio">Ciudad de México</td>
                <td class="tabla__grid--estatus">Sin revisar</td>
                <td class="tabla__grid--ubicacion">
                  <a
                    href="https://maps.app.goo.gl/Bo9TeC7vrNSKiJuj8"
                    target="_blank"
                    ><img src="../../public/images/location_black.svg" alt=""
                  /></a>
                </td>
                <td class="tabla__grid--ver">
                  <a href="../views/actualizar_infraestructura.html"
                    ><img src="../../public/images/ver__black.svg" alt=""
                  /></a>
                </td>
                <td class="tabla__grid--habilitar">
                  <img
                    src="../../public/images/deshabilitar__red.svg"
                    class="habilitar"
                    alt=""
                  />
                </td>
                <td class="tabla__grid--borrar">
                  <img
                    src="../../public/images/delete__red.svg"
                    class="borrar"
                    alt=""
                  />
                </td>
              </tr>
              <tr>
                <td class="tabla__grid--ID">1034</td>
                <td class="tabla__grid--persona">Moral</td>
                <td class="tabla__grid--marca">BYD</td>
                <td class="tabla__grid--razonNombre">FUERTE APACHE SA DE CV</td>
                <td class="tabla__grid--municipio">Estado de México</td>
                <td class="tabla__grid--estatus">Aprobado</td>
                <td class="tabla__grid--ubicacion">
                  <a
                    href="https://maps.app.goo.gl/Bo9TeC7vrNSKiJuj8"
                    target="_blank"
                    ><img src="../../public/images/location_black.svg" alt=""
                  /></a>
                </td>
                <td class="tabla__grid--ver">
                  <a href="../views/actualizar_infraestructura.html"
                    ><img src="../../public/images/ver__black.svg" alt=""
                  /></a>
                </td>
                <td class="tabla__grid--habilitar">
                  <img
                    src="../../public/images/habilitar__green.svg"
                    class="habilitar"
                    alt=""
                  />
                </td>
                <td class="tabla__grid--borrar">
                  <img
                    src="../../public/images/delete__red.svg"
                    class="borrar"
                    alt=""
                  />
                </td>
              </tr>
              <tr>
                <td class="tabla__grid--ID">1035</td>
                <td class="tabla__grid--persona">Moral</td>
                <td class="tabla__grid--marca">BEMO</td>
                <td class="tabla__grid--razonNombre">
                  ESTACION DE SERVICIO EMAJUFG SA DE CV
                </td>
                <td class="tabla__grid--municipio">Hidalgo</td>
                <td class="tabla__grid--estatus">Con problemas</td>
                <td class="tabla__grid--ubicacion">
                  <a
                    href="https://maps.app.goo.gl/Bo9TeC7vrNSKiJuj8"
                    target="_blank"
                    ><img src="../../public/images/location_black.svg" alt=""
                  /></a>
                </td>
                <td class="tabla__grid--ver">
                  <a href="../views/actualizar_infraestructura.html"
                    ><img src="../../public/images/ver__black.svg" alt=""
                  /></a>
                </td>
                <td class="tabla__grid--habilitar">
                  <img
                    src="../../public/images/deshabilitar__red.svg"
                    class="habilitar"
                    alt=""
                  />
                </td>
                <td class="tabla__grid--borrar">
                  <img
                    src="../../public/images/delete__red.svg"
                    class="borrar"
                    alt=""
                  />
                </td>
              </tr>
              <tr>
                <td class="tabla__grid--ID">1036</td>
                <td class="tabla__grid--persona">Moral</td>
                <td class="tabla__grid--marca">BMW</td>
                <td class="tabla__grid--razonNombre">
                  SUPER SERVICIO LA GUASIMA SA DE CV
                </td>
                <td class="tabla__grid--municipio">Veracruz</td>
                <td class="tabla__grid--estatus">Aprobado</td>
                <td class="tabla__grid--ubicacion">
                  <a
                    href="https://maps.app.goo.gl/Bo9TeC7vrNSKiJuj8"
                    target="_blank"
                    ><img src="../../public/images/location_black.svg" alt=""
                  /></a>
                </td>
                <td class="tabla__grid--ver">
                  <a href="../views/actualizar_infraestructura.html"
                    ><img src="../../public/images/ver__black.svg" alt=""
                  /></a>
                </td>
                <td class="tabla__grid--habilitar">
                  <img
                    src="../../public/images/habilitar__green.svg"
                    class="habilitar"
                    alt=""
                  />
                </td>
                <td class="tabla__grid--borrar">
                  <img
                    src="../../public/images/delete__red.svg"
                    class="borrar"
                    alt=""
                  />
                </td>
              </tr>
            </tbody>
          </table>
        </section>
      </section>
    </main>
  </body>
</html>
