<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/registrar_infrestuctura_desktop.css" media="screen and (min-width: 769px)"/>
    <link rel="stylesheet" href="../css/registrar_infraestructura_mobile.css" media="screen and (max-width: 768px)"/>
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
      integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
      crossorigin=""
    />
    <script
      src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
      integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
      crossorigin=""
    ></script>
    <title>Registrar Infraestructura | ElectroCRE</title>
  </head>
  <body>
    <header>
      <nav>
        <section class="nav--logos">
          <img
            src="https://framework-gb.cdn.gob.mx/landing/img/logofooter.png"
            alt="center"
            class="Mex"
          />
          <img
            src="../../public/images/logo_electrocre.png"
            align="center"
            class="electrocre"
          />
        </section>
      </nav>
      <i></i>
    </header>
    <main>
      <section class="formulario">
        <section class="contenedorBorde">
          <section class="contenedorWidth">
            <p class="formulario__separadores">¿Eres persona física o moral?</p>
            <section class="formulario__inputRadio">
              <section>
                <input type="radio" name="" id="personaFisica" />
                <p>Soy Persona Física.</p>
              </section>
              <section>
                <input type="radio" name="" id="personaMoral" />
                <p>Soy Persona Moral.</p>
              </section>
            </section>
          </section>
        </section>
        <section class="contenedorBorde">
          <section class="contenedorWidth">
            <p class="formulario__separadores">
              ¿Los cargadores recibirán energía eléctrica de una Central
              Eléctrica de Generación Distribuida?
            </p>
            <section class="formulario__inputRadio">
              <section>
                <input type="radio" name="" id="siGD" />
                <p>Sí.</p>
              </section>
              <section>
                <input type="radio" name="" id="noGD" />
                <p>No.</p>
              </section>
            </section>
          </section>
        </section>
        <section class="formulario__separadoresTitulo">
          <p>1. Datos del Usuario Final. *</p>
          <img
            src="../../public/images/more_black.svg"
            alt=""
            id="botonUsuario"
          />
        </section>

        <section class="contenedorBorde" id="datosUsuario">
          <section class="contenedorWidth">
            <section id="contenedorPersonaFisica">
              <section class="formulario__tresColumnas">
                <section class="formulario__tresColumnas--inputText">
                  <p>Apellido Paterno</p>
                  <input type="text" name="" id="" />
                </section>
                <section class="formulario__tresColumnas--inputText">
                  <p>Apellido Materno</p>
                  <input type="text" name="" id="" />
                </section>
                <section class="formulario__tresColumnas--inputText">
                  <p>Nombre(s)</p>
                  <input type="text" name="" id="" />
                </section>
              </section>

              <p class="formulario__separadores">
                Identificación Oficial (INE/Pasaporte):
              </p>
              <span></span>

              <section class="formulario__dosColumnas">
                <section class="formulario__dosColumnas--inputFile">
                  <p>Frontal (.pdf):</p>
                  <input type="file" name="" id="" />
                </section>
                <section class="formulario__dosColumnas--inputFile">
                  <p>Reverso (.pdf):</p>
                  <input type="file" name="" id="" />
                </section>
              </section>
            </section>

            <section id="contenedorPersonaMoral">
              <section class="formulario__dosColumnas">
                <section class="formulario__dosColumnas--inputText">
                  <p>Razon Social:</p>
                  <input type="text" name="" id="" />
                </section>
              </section>

              <p class="formulario__separadores">
                Datos del Representante Legal/Apoderado Legal
              </p>
              <span></span>

              <section class="formulario__tresColumnas">
                <section class="formulario__tresColumnas--inputText">
                  <p>Apellido Paterno</p>
                  <input type="text" name="" id="" />
                </section>
                <section class="formulario__tresColumnas--inputText">
                  <p>Apellido Materno</p>
                  <input type="text" name="" id="" />
                </section>
                <section class="formulario__tresColumnas--inputText">
                  <p>Nombre(s)</p>
                  <input type="text" name="" id="" />
                </section>
              </section>

              <p class="formulario__separadores">
                Identificación Oficial (INE/Pasaporte):
              </p>
              <span></span>

              <section class="formulario__dosColumnas">
                <section class="formulario__dosColumnas--inputFile">
                  <p>Frontal (.pdf):</p>
                  <input type="file" name="" id="" />
                </section>
                <section class="formulario__dosColumnas--inputFile">
                  <p>Reverso (.pdf):</p>
                  <input type="file" name="" id="" />
                </section>
              </section>

              <p class="formulario__separadores">
                Poder notarial que acredite su representación jurídica:
              </p>
              <span></span>

              <section class="formulario__dosColumnas">
                <section class="formulario__dosColumnas--inputFile">
                  <p>Subir documento (.pdf):</p>
                  <input type="file" name="" id="" />
                </section>
              </section>
            </section>

            <p class="formulario__separadores">
              Datos de contacto para oír y recibir notificaciones
            </p>
            <span></span>

            <section class="formulario__dosColumnas">
              <section class="formulario__dosColumnas--inputText">
                <p>Correo electronico:</p>
                <input type="text" name="" id="" />
              </section>
              <section class="formulario__dosColumnas--inputText">
                <p>Teléfono:</p>
                <input type="text" name="" id="" />
              </section>
            </section>

            <p class="formulario__separadores">
              Datos del domicilio donde se requiere el servicio
            </p>
            <span></span>

            <section class="formulario__tresColumnas">
              <section class="formulario__tresColumnas--inputText">
                <p>Calle, no. Exterior:</p>
                <input type="text" name="" id="" />
              </section>
              <section class="formulario__tresColumnas--inputText">
                <p>Código Postal:</p>
                <input type="text" name="" id="" />
              </section>
              <section class="formulario__tresColumnas--inputText">
                <p>Colonia:</p>
                <input type="text" name="" id="" />
              </section>
            </section>

            <section class="formulario__dosColumnas">
              <section class="formulario__dosColumnas--inputText">
                <p>Delegación/Municipio:</p>
                <input type="text" name="" id="" />
              </section>
              <section class="formulario__dosColumnas--inputText">
                <p>Entidad Federativa:</p>
                <input type="text" name="" id="" />
              </section>
            </section>

            <p class="formulario__separadores">
              Registro de Usuario (RMU/RPU cuando aplique)
            </p>
            <span></span>

            <section class="formulario__tresColumnas">
              <section class="formulario__tresColumnas--inputText">
                <p>Usuario:</p>
                <input type="text" name="" id="" />
              </section>
            </section>

            <p class="formulario__separadores">Coordeandas geográficas</p>
            <span></span>

            <section class="formulario__dosColumnas">
              <section class="formulario__dosColumnas--inputText">
                <p>Latitud:</p>
                <input type="text" name="" id="latitud" />
              </section>
              <section class="formulario__dosColumnas--inputText">
                <p>Longitud:</p>
                <input type="text" name="" id="longitud" />
              </section>
            </section>

            <section class="formulario_botonConsultar">
              <p>*Verifica que las coordeandas sean correctas: </p>
              <button type="button" id="botonConsultarCoordenadas">Consultar <span></span> </button>
            </section>

            <section class="formulario__mapa">
              <div id="map"></div>
            </section>


          </section>
        </section>

        <section class="formulario__separadoresTitulo">
          <p>2. Datos del Servicio de Suminsitro Eléctrico. *</p>
          <img
            src="../../public/images/more_black.svg"
            alt=""
            srcset=""
            id="botonSuministro"
          />
        </section>

        <section class="contenedorBorde" id="datosSuministro">
          <section class="contenedorWidth">
            <section class="formulario__dosColumnas">
              <section class="formulario__dosColumnas--inputText">
                <p>Nivel de Tensión:</p>
                <select name="" id="">
                  <option value="0" selected>-------------</option>
                  <option value="1">Media Tensión</option>
                  <option value="2">Baja Tensión</option>
                  <option value="3">Alta Tensión</option>
                </select>
              </section>

              <section class="formulario__dosColumnas--inputText">
                <p>Tipo de Inmueble:</p>
                <select name="" id="">
                  <option value="0" selected>-------------</option>
                  <option value="1">Electrolinera</option>
                  <option value="2">Electroterminal</option>
                  <option value="3">Estación de Carga Gratuita</option>
                  <option value="4">Inmueble bajo régimen de Propiedad en Condominio</option>
                </select>
              </section>
            </section>

            <section class="formulario__tresColumnas">
              <section class="formulario__tresColumnas--inputText">
                <p>Demanda a contratar [kW]:</p>
                <input type="text" name="" id="" />
              </section>

              <section class="formulario__tresColumnas--inputText">
                <p>Número de Fases:</p>
                <input type="text" name="" id="" />
              </section>
              <section class="formulario__tresColumnas--inputText">
                <p>Número de Hilos:</p>
                <input type="text" name="" id="" />
              </section>
            </section>

            <section class="formulario__tresColumnas">
              <section class="formulario__tresColumnas--inputText">
                <p>Tensión nominal [kV]:</p>
                <input type="text" name="" id="" />
              </section>
              <section class="formulario__tresColumnas--inputText">
                <p>Tensión máxima [kV]:</p>
                <input type="text" name="" id="" />
              </section>
              <section class="formulario__tresColumnas--inputText">
                <p>Tensión mínima [kV]:</p>
                <input type="text" name="" id="" />
              </section>
            </section>
          </section>
        </section>

        <section class="formulario__separadoresTitulo">
          <p>3. Datos de la Infraestructura de carga. *</p>
          <img
            src="../../public/images/more_black.svg"
            alt=""
            id="botonInfraestructura"
          />
        </section>

        <section class="contenedorBorde" id="datosInfraestructura">
          <section class="contenedorWidth" id="contenedorCargadores">
            <section id="1">
              <p class="formulario__separadores">CIVE #1</p>
              <span></span>
              <section class="formulario__dosColumnas">
                <!-- <section class="formulario__dosColumnas--inputText">
                  <p>Tipo de Cargador:</p>
                  <select name="" id="">
                    <option value="0" selected>-------------</option>
                    <option value="1">Nivel 1</option>
                    <option value="2">Nivel 2</option>
                    <option value="2">Nivel 3</option>
                  </select>
                </section> -->
                <section class="formulario__dosColumnas--inputText">
                  <p>Tipo de Corriente:</p>
                  <select name="" id="">
                    <option value="0" selected>-------------</option>
                    <option value="1">Corriente Alterna (CA)</option>
                    <option value="2">Corriente Continua (CC)</option>
                  </select>
                </section>

                <!-- <section class="formulario__dosColumnas--inputText">
                  <p>Otras Características:</p>
                  <select name="" id="">
                    <option value="0" selected>-------------</option>
                    <option value="0">Ninguna</option>
                    <option value="1">Unimodal</option>
                    <option value="1">Multimodal</option>
                    <option value="1">Unimodal y Multimodal</option>
                  </select>
                </section> -->
                <section class="formulario__dosColumnas--inputText">
                  <p>Modo de Carga:</p>
                  <select name="" id="">
                    <option value="0" selected>-------------</option>
                    <option value="0">Modo 1</option>
                    <option value="1">Modo 2</option>
                    <option value="1">Modo 3</option>
                    <option value="1">Modo 4</option>
                  </select>
                </section>
              </section>

              <section class="formulario__tresColumnas">
                <section class="formulario__tresColumnas--inputText">
                  <p>Marca del cargador:</p>
                  <input type="text" name="" id="" />
                </section>
                <section class="formulario__tresColumnas--inputText">
                  <p>Modelo del cargador:</p>
                  <input type="text" name="" id="" />
                </section>
                <section class="formulario__tresColumnas--inputText">
                  <p>Tipo de conector del cargador:</p>
                  <select name="" id="">
                    <option value="0" selected>-------------</option>
                    <option value="0">CEE (Type E/F)</option>
                    <option value="0">BS 1383 (Type G)</option>
                    <option value="0">IEC 60309-2</option>
                    <option value="0">Tipo 1 J1772</option>
                    <option value="0">Tipo 2 MENNEKES</option>
                    <option value="0">GB/T</option>
                    <option value="0">CHAdeMO</option>
                    <option value="0">CCS1</option>
                    <option value="0">CCS2</option>
                    <option value="0">Combo CCS1 y CCS2</option>
                  </select>
                </section>
              </section>

              <section class="formulario__tresColumnas">
                <section class="formulario__tresColumnas--inputText">
                  <p>Número de conectores a instalar:</p>
                  <input type="text" name="" id="" />
                </section>
                <section class="formulario__tresColumnas--inputText">
                  <p>Capacidad nominal de cada cargador:</p>
                  <input type="text" name="" id="" />
                </section>
                <section class="formulario__tresColumnas--inputText">
                  <p>Capacidad nominal total:</p>
                  <input type="text" name="" id="" />
                </section>
              </section>

              <p class="formulario__separadores">
                Precio de la Energía Eléctrica
              </p>
              <span></span>
              <section class="formulario__dosColumnas">
                <section class="formulario__dosColumnas--inputText">
                  <p>Categoría:</p>
                  <select name="" id="">
                    <option value="0" selected>-------------</option>
                    <option value="0">$/kWh</option>
                    <option value="0">$/h</option>
                    <option value="0">$/min</option>
                    <option value="0">$/semanal</option>
                    <option value="0">$/mensual</option>
                    <option value="0">$/anual</option>
                  </select>
                </section>
                <section class="formulario__dosColumnas--inputText">
                  <p>Precio:</p>
                  <input type="number" name="" id="" placeholder="$" />
                </section>
              </section>

              <p class="formulario__separadores">Anexo de archivos</p>
              <span></span>

              <section class="formulario__dosColumnas">
                <section class="formulario__dosColumnas--inputFile">
                  <p>Certificado del Producto (.pdf):</p>
                  <input type="file" name="" id="" />
                </section>
                <section class="formulario__dosColumnas--inputFile">
                  <p>Ficha Técnica (.pdf):</p>
                  <input type="file" name="" id="" />
                </section>
              </section>

              <span class="formulario__separadoresGrande"></span>
            </section>
          </section>
          <section class="formulario__botonNuevoCargador">
            <button type="button" id="nuevoCargador">
              Agregar Nuevo Cargador (opcional)
            </button>
          </section>
        </section>

        <section class="formulario__separadoresTitulo">
          <p>4. Anexo. *</p>
          <img
            src="../../public/images/more_black.svg"
            alt=""
            id="botonAnexo"
          />
        </section>
        <section class="contenedorBorde" id="datosAnexo">
          <section class="contenedorWidth">
            <section class="formulario__dosColumnas">
              <section class="formulario__dosColumnas--inputFile">
                <p>
                  Escrito libre bajo protesta que los documentos presentados son
                  verídicos (.pdf):
                </p>
                <input type="file" name="" id="" />
              </section>
              <section class="formulario__dosColumnas--inputFile">
                <p>Evidencia Documental (.pdf):</p>
                <input type="file" name="" id="" />
              </section>
            </section>
          </section>
        </section>

        <section
          class="formulario__separadoresTitulo"
          id="tituloFuenteGeneracion"
        >
          <p>5. Datos de la fuente de generación. *</p>
          <img
            src="../../public/images/more_black.svg"
            alt=""
            id="botonGeneracion"
          />
        </section>

        <section class="contenedorBorde" id="datosGeneracion">
          <section class="contenedorWidth">
            <section class="formulario__dosColumnas">
              <section class="formulario__dosColumnas--inputText">
                <p>Capacidad Instalada Bruta GE/GD:</p>
                <input type="text" name="" id="" />
              </section>

              <section class="formulario__dosColumnas--inputText">
                <p>Capacidad Instalada Neta GE/GD [< 500 kW]<sup>3</sup>:</p>
                <input type="text" name="" id="" />
              </section>
            </section>
            <section class="formulario__dosColumnas">
              <section class="formulario__dosColumnas--inputText">
                <p>Capacidad Instalada Bruta kWp [kW] (Fotovoltaico):</p>
                <input type="text" name="" id="" />
              </section>

              <section class="formulario__dosColumnas--inputText">
                <p>Capacidad Instalada de Placa<sup>2</sup> [kW]:</p>
                <input type="text" name="" id="" />
              </section>
            </section>

            <p class="formulario__separadores">Datos de la interconexion</p>
            <span></span>

            <section class="formulario__dosColumnas">
              <section class="formulario__dosColumnas--inputText">
                <p>Número de Solicitud:</p>
                <input type="text" name="" id="" />
              </section>

              <section class="formulario__dosColumnas--inputText">
                <p>
                  ¿Los contratatos de interconexion de la CEGD están firmados?:
                </p>
                <select name="" id="">
                  <option value="0" seected>-------------</option>
                  <option value="1">Sí</option>
                  <option value="1">No</option>
                </select>
              </section>
            </section>

            <p class="formulario__separadores">
              Tecnología de generación de energía eléctrica
            </p>
            <span></span>

            <section class="formulario__dosColumnas">
              <section class="formulario__dosColumnas--inputText">
                <p>Tipo de Tecnología:</p>
                <select name="" id="">
                  <option value="0" seected>-------------</option>
                  <option value="1">Solar Fotovoltaica</option>
                  <option value="1">Hidroeléctrica</option>
                  <option value="1">Eólico</option>
                  <option value="1">Biomasa</option>
                  <option value="1">Gas</option>
                  <option value="1">Cogeneración</option>
                  <option value="1">Biogás</option>
                  <option value="1">Diesel/Combustóleo</option>
                </select>
              </section>
              <section class="formulario__dosColumnas--inputText">
                <p>Otro:</p>
                <input type="text" name="" id="" />
              </section>
            </section>
          </section>
        </section>
        <section class="formulario__boton">
          <a href="./cuenta_personal.html">Descargar Formulario</a>
        </section>
      </section>
    </main>
    <footer></footer>
    <script src="../js/formulario.js"></script>
    <script src="../js/mapa_infraestructura.js"></script>
  </body>
</html>
