@import url(./root.css);
@import url(./header_mobile.css);

main {
  width: 100vw;
  height: 90vh;

  .modal__inicio {
    position: fixed;
    z-index: 1;
    left: 50%;
    width: 100%;
    padding: 2rem;
    background-color: var(--color-blanco);
    border: 0.1rem solid var(--color-verde-claro);
    border-radius: var(--border-radius-botones);
    transform: translate(-50%, -5%);

    .modal__inicio--titulo {
      margin-top: 1rem;
      font-family: var(--font-montserrat);
      font-size: 1.5rem;
      font-weight: 700;
    }

    .modal__inicio--texto {
      margin-top: 1.5rem;
      font-size: 1.4rem;
      font-family: var(--font-montserrat);
    }

    .modal__inicio--boton {
      width: 25rem;
      margin-top: 2rem;
      margin-left: 10rem;
      padding: 1rem;
      background-color: var(--color-azul-cielo);
      border: none;
      border-radius: 0.3rem;
      font-family: var(--font-montserrat);
      font-weight: 500;
      color: var(--color-blanco);
    }

    .modal__inicio--boton:hover {
      cursor: pointer;
      background-color: var(--color-azul-cielo-claro);
    }
  }

  .mapa__informacion {
    width: 80vw;
    max-width: 120rem;
    margin: auto;
    margin-top: 2rem;

    .mapa__informacion--titulo {
      font-family: var(--font-montserrat);
      font-size: 2.4rem;
      font-weight: 700;
      color: var(--color-titulos);
    }

    .mapa__informacion--linea {
      display: block;
      width: 100%;
      height: 0.1rem;
      margin-top: 1rem;
      background-color: rgba(128, 127, 127, 0.671);
    }

    .mapa__informacion--franja {
      display: block;
      width: 3.5rem;
      height: 0.5rem;
      background-color: var(--color-dorado);
    }

    .mapa__informacion--contexto {
      margin-top: 1rem;
      font-family: var(--font-montserrat);
      font-size: 1.6rem;
    }
  }

  .mapa__layout {
    display: flex;
    flex-direction: column;
    width: 80vw;
    max-width: 120rem;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;

    .mapa__layout--grafico {
      z-index: 0;
      width: 100%;

      #map {
        height: 35rem;
      }
    }

    .mapa__layout--informacion {
      display: none;
      height: auto;
      padding-bottom: 1rem;
      border: 0.3rem solid var(--color-guinda);
      border-radius: 2rem;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      font-family: var(--font-montserrat);

      .informacion__tipoEstacion {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin-top: 1rem;

        p {
          text-align: center;
          font-size: 2rem;
          font-weight: 700;
        }

        img {
          width: 3.5rem;
          margin-left: 2rem;
        }
      }

      .informacion__nombreEstacion {
        margin-top: 0.5rem;
        text-align: center;
        font-size: 1.3rem;
        font-weight: 600;
      }

      .informacion__ubicacion {
        display: flex;
        align-content: center;
        margin-top: 1rem;

        img {
          width: 3rem;
          height: 3rem;
        }

        a {
          margin-left: 1rem;
          padding-left: 1.5rem;
          padding-right: 1.5rem;
          padding-top: 0.5rem;
          padding-bottom: 0.5rem;
          text-align: center;
          align-content: center;
          font-size: 1.8rem;
          font-weight: 700;
          text-decoration: none;
        }

        .electroterminal {
          border: 0.2rem solid var(--color-guinda);
          border-radius: 1rem;
          color: var(--color-guinda);
        }

        .electroterminal:hover {
          background-color: var(--color-guinda);
          color: var(--color-blanco);
        }

        .electrolinera {
          border: 0.2rem solid var(--color-verde-claro);
          border-radius: 1rem;
          color: var(--color-verde-claro);
        }

        .electrolinera:hover {
          background-color: var(--color-verde-claro);
          color: var(--color-blanco);
        }
      }

      .informacion__estacion {
        .estacion__titulo {
          display: flex;
          align-content: center;
          margin-top: 1rem;

          p {
            align-content: center;
            margin-left: 1rem;
            font-size: 1.8rem;
            font-weight: 700;
          }

          img {
            width: 3rem;
            height: 3rem;
          }
        }

        .estacion__table {
          width: 100%;
          text-align: center;
          align-content: center;

          .table__head{
            font-size: 1rem;
            .table__head--conector {
              width: 10%;
            }
  
            .table__head--nombre {
              width: 10%;
            }
  
            .table__head--corriente {
              width: 10%;
            }
  
            .table__head--potencia {
              width: 10%;
            }
  
            .table__head--modoCarga {
              width: 15%;
            }
  
            .table__head--tarifa {
              width: 20%;
            }
          }

          .table__body{
            font-size: 1rem;
            font-weight: 600;
            .table__body--conector {
              width: 10%;

              img{
                width: 2.2rem;
              }
            }
  
            .table__body--nombre {
              width: 10%;
            }
  
            .table__body--corriente {
              width: 10%;
            }
  
            .table__body--potencia {
              width: 10%;
            }
  
            .table__body--modoCarga {
              width: 15%;
            }
  
            .table__body--tarifa {
              width: 20%;
            }

            tr:nth-child(even){
              background-color: var(--color-gris-background);
            }
          }
        }
      }
    }
  }

  .grafico{
    width: 80vw;
    height: 35rem;
    margin-left: auto;
    margin-right: auto;
  }
}