:root {
  --color-guinda: #9f2241;
  --color-verde-fuerte: #10312b;
  --color-verde-claro: #235b4e;
  --color-blanco: white;
  --color-blanco-opaco: #ffffffe5;
  --color-azul-cielo: #007bff;
  --color-azul-cielo-claro: #3491f5;
  --color-beige: #fdebae;
  --color-dorado: #bc945a;
  --color-titulos: #404041;

  --border-radius-botones: 0.5rem;
  --font-montserrat: "Montserrat", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
  font-size: 62.5%;
  /* background:  url('../Imagenes/background-consulta.png');
    background-repeat: no-repeat;
    background-size: cover; */
}

header {
  display: flex;
  flex-direction: column;
  width: 100vw;
  background-color: var(--color-verde-fuerte);

  nav {
    display: flex;
    width: 90vw;
    justify-content: space-between;
    margin: auto;

    section {
      display: flex;
      align-items: center;
    }

    .nav--logos {
      .Mex {
        width: 20rem;
      }

      .CRE {
        width: 5.4rem;
        height: 5rem;
        margin-left: 2rem;
      }
    }

    .nav--tab {
      justify-self: center;

      a {
        padding-left: 1rem;
        padding-right: 1rem;
        align-self: center;
        font-family: var(--font-montserrat);
        font-size: 1.6rem;
        font-weight: 500;
        text-decoration: none;
        color: white;
      }

      a:hover {
        text-decoration: underline;
      }
    }
  }

  i {
    display: block;
    width: 100vw;
    height: 3rem;
    background-color: var(--color-verde-claro);
  }
}

main {
  width: 100vw;
  height: 90vh;

  .modal__inicio {
    position: fixed;
    z-index: 1;
    left: 50%;
    width: 40rem;
    padding: 2rem;
    background-color: var(--color-blanco);
    border: 0.1rem solid var(--color-verde-claro);
    border-radius: var(--border-radius-botones);
    transform: translate(-50%, -5%);

    .modal__inicio--titulo {
      margin-top: 1rem;
      font-family: var(--font-montserrat);
      font-size: 1.5rem;
      font-weight: 700;
    }

    .modal__inicio--texto {
      margin-top: 1.5rem;
      font-size: 1.4rem;
      font-family: var(--font-montserrat);
    }

    .modal__inicio--boton {
      width: 25rem;
      margin-top: 2rem;
      margin-left: 10rem;
      padding: 1rem;
      background-color: var(--color-azul-cielo);
      border: none;
      border-radius: 0.3rem;
      font-family: var(--font-montserrat);
      font-weight: 500;
      color: var(--color-blanco);
    }

    .modal__inicio--boton:hover {
      cursor: pointer;
      background-color: var(--color-azul-cielo-claro);
    }
  }

  .mapa__informacion {
    width: 80%;
    margin: auto;
    margin-top: 2rem;

    .mapa__informacion--titulo {
      font-family: var(--font-montserrat);
      font-size: 2.5rem;
      font-weight: 700;
      color: var(--color-titulos);
    }

    .mapa__informacion--linea {
      display: block;
      width: 100%;
      height: 0.1rem;
      margin-top: 1rem;
      background-color: rgba(128, 127, 127, 0.671);
    }

    .mapa__informacion--franja {
      display: block;
      width: 3.5rem;
      height: 0.5rem;
      background-color: var(--color-dorado);
    }

    .mapa__informacion--contexto {
      margin-top: 1rem;
      font-family: var(--font-montserrat);
      font-size: 1.8rem;
    }
  }

  .mapa__layout {
    display: flex;
    width: 80%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;

    .mapa__layout--grafico {
      z-index: 0;
      width: 70%;

      #map {
        height: 50rem;
      }
    }

    .mapa__layout--informacion {
      display: none;
      width: 25%;
      height: 50rem;
      border: 0.3rem solid var(--color-guinda);
      border-radius: 2rem;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      /* border-left: none; */
      /* border-top: 0.7rem solid var(--color-guinda);
      border-right: 0.2rem solid var(--color-guinda);
      border-bottom: 0.7rem solid var(--color-guinda);
      border-top-right-radius: 2rem;
      border-bottom-right-radius: 2rem; */
      font-family: var(--font-montserrat);

      .informacion__estacion {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
        text-align: center;
        font-size: 2rem;
        font-weight: 700;
        img {
          width: 3.5rem;
          margin-left: 2rem;
        }
      }

      .informacion__nombre {
        margin-top: 0.5rem;
        text-align: center;
        font-size: 1.3rem;
        font-weight: 600;
      }

      .informacion__diversos {
        .informacion__diversos--ubicacion {
          display: flex;
          margin-top: 1rem;
          img {
            width: 3rem;
            color: var(--color-verde-claro);
          }

          a {
            margin-left: 1rem;
            padding-left: 1.5rem;
            padding-right: 1.5rem;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            text-align: center;
            align-content: center;
            font-size: 1.8rem;
            font-weight: 700;
            text-decoration: none;
          }

          .electroterminal {
            border: 0.2rem solid var(--color-guinda);
            border-radius: 1rem;
            color: var(--color-guinda);
          }

          .electroterminal:hover {
            background-color: var(--color-guinda);
            color: var(--color-blanco);
          }
          .electrolinera {
            border: 0.2rem solid var(--color-verde-claro);
            border-radius: 1rem;
            color: var(--color-verde-claro);
          }

          .electrolinera:hover {
            background-color: var(--color-verde-claro);
            color: var(--color-blanco);
          }
        }

        .informacion__diversos--tarifa {
          display: flex;
          margin-top: 2rem;

          img {
            width: 3rem;
            align-content: center;
          }

          p {
            text-decoration: underline;
            align-content: center;
            font-size: 1.8rem;
            font-weight: 700;
          }

          .tarifa {
            margin-left: 1rem;
          }
        }

        .informacion__diversos--tipoCargador {
          margin-top: 2rem;

          .tipoCargador__titulo {
            display: flex;
            align-content: center;
            font-size: 1.8rem;
            font-weight: 700;

            img {
              width: 3rem;
              align-content: center;
            }

            p {
              margin-left: 1rem;
              align-content: center;
            }
          }

          .tipoCargador__informacion {
            display: flex;
            margin-left: 4rem;

            .tipoCargador__informacion--checkbox {
              display: flex;
              flex-direction: column;
              input {
                user-select: none;
                margin-top: 0.2rem;
                background-color: var(--color-verde-claro);
              }
            }

            .tipoCargador__informacion--nombres {
              margin-left: 1rem;

              div {
                margin-top: 0.1rem;
                display: flex;

                img {
                  width: 1rem;
                }

                p {
                  margin-left: 1rem;
                  font-size: 1.1rem;
                  font-weight: 700;
                  text-align: end;
                }
              }
            }
          }
        }

        .informacion__diversos--conectores {
          margin-top: 2rem;
          .conectores__titulo {
            display: flex;
            align-content: center;
            font-size: 1.8rem;
            font-weight: 700;

            img {
              width: 3rem;
              align-content: center;
            }

            p {
              margin-left: 1rem;
              align-content: center;
            }
          }

          .conectores__informacion {
            .conectores__informacion--nombresColumnas {
              display: flex;
              border-bottom: 0.1rem solid black;

              p {
                width: 20%;
                margin-left: 0.5rem;
                font-size: 1.1rem;
                text-align: center;
                font-weight: 700;
              }
            }

            .conectores__informacion--grid {
              display: grid;
              grid-template-columns: auto auto auto auto auto;
              gap: 0.5rem;
              margin-top: 1rem;
              text-align: center;
              align-content: center;

              .grid__img {
                width: 2.5rem;
                margin: auto;
              }

              p {
                margin: auto;
                font-size: 1.1rem;
                font-weight: 700;
              }

              section {
                display: flex;
                align-content: center;
                justify-content: center;
                img {
                  width: 1rem;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .mapa__layout {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;

    .mapa__layout--grafico {
      width: 100vw;
    }

    .mapa__layout--informacion {
      width: 100vw;
    }
  }
}
