:root {
  /* Colores */
  --color-guinda: #9f2241;
  --color-verde-fuerte: #10312b;
  --color-verde-claro: #235b4e;
  --color-blanco: white;
  --color-blanco-opaco: #ffffffe5;
  --color-azul-cielo: #007bff;
  --color-azul-cielo-claro: #3491f5;
  --color-beige: #fdebae;
  --color-dorado: #bc945a;
  --color-titulos: #404041;
  --color-gris-texto: #555555c9;
  --color-gris-opaco: #b4b4b48a;
  --color-dorado-degradado: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(188, 148, 90, 1) 65%
  );

  /* Bordes */
  --border-radius-botones: 0.5rem;

  /* Fuentes */
  --font-montserrat: "Montserrat", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
  font-size: 62.5%;
}

header {
  display: flex;
  flex-direction: column;
  width: 100vw;
  background-color: var(--color-verde-fuerte);

  nav {
    display: flex;
    width: 90vw;
    justify-content: space-between;
    margin: auto;

    section {
      display: flex;
      align-items: center;
    }

    .nav--logos {
      .Mex {
        width: 20rem;
      }

      .CRE {
        width: 5.4rem;
        height: 5rem;
        margin-left: 2rem;
      }
    }

    .nav--tab {
      justify-self: center;

      a {
        padding-left: 1rem;
        padding-right: 1rem;
        align-self: center;
        font-family: var(--font-montserrat);
        font-size: 1.6rem;
        font-weight: 500;
        text-decoration: none;
        color: white;
      }

      a:hover {
        text-decoration: underline;
      }
    }
  }

  i {
    display: block;
    width: 100vw;
    height: 3rem;
    background-color: var(--color-verde-claro);
  }
}

main {
  font-family: var(--font-montserrat);

  .informacion {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;


    .informacion__logo {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50%;


      img {
        width: 21rem;
        height: 20rem;
      }
    }

    .informacion__personal {
      width: 50%;
      min-width: 40rem;

      .informacion__personal--bienvenida {
        text-align: end;
        h1 {
          font-size: 4rem;
        }

        p {
          margin-top: 0.5rem;
          font-size: 2.5rem;
        }
      }

      .informacion__personal--registro {
        display: flex;
        justify-content: space-between;
        /* width: 50rem; */

        margin-top: 2rem;

        .columnaUno {
          font-size: 1.2rem;

          .columnaUno__label {
            font-weight: 700;
          }

          .abajo {
            margin-top: 3rem;
          }
        }

      }
    }
  }

  .tabla {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;

    .tabla__botones {
      display: flex;
      justify-content: space-between;
      margin-bottom: 2rem;

      .tabla__botones--filtro {
        display: flex;
        align-items: center;

        p {
          margin-right: 1rem;
          font-size: 1.2rem;
          font-weight: 700;
        }

        select {
          padding-left: 1rem;
          padding-right: 1rem;
          font-size: 1.7rem;
        }
      }
      a {
        padding: 1rem;
        padding-left: 2rem;
        padding-right: 2rem;
        border: 0.2rem solid var(--color-dorado);
        border-radius: var(--border-radius-botones);
        font-size: 1.2rem;
        font-weight: 700;
        text-decoration: none;
        color: var(--color-dorado);
      }

      a:hover {
        background-color: var(--color-dorado);
        color: var(--color-blanco);
      }
    }

    .tabla__grid {
      table {
        display: block;
        thead {
          display: block;
          font-size: 1.3rem;
        }
        tbody {
          display: block;
          tr:hover {
            background-color: var(--color-gris-opaco);
          }
        }
        tr {
          display: flex;
          th {
            width: 25%;
            padding-top: 1rem;
            padding-bottom: 1rem;
            text-align: center;
            border-bottom: 0.2rem solid rgba(0, 0, 0, 0.185);
          }
          td {
            width: 25%;
            padding-top: 1rem;
            padding-bottom: 1rem;
            font-size: 1.1rem;
            font-weight: 500;
            text-align: center;
            color: var(--color-gris-texto);
            border-bottom: 0.1rem solid rgba(0, 0, 0, 0.185);
          }
        }
      }
    }
  }
}



/* Loader */
.loader {
  z-index: -1;
  position: absolute;
  /*display: block; */
  width: 20rem;
  height: 20rem;
  border: 5px solid var(--color-guinda);
  border-radius: 50%;
  box-sizing: border-box;
  animation: pulse 1s linear infinite;
}

/* @keyframes scaleUp {
  0% {
    transform: translate(0%, 0%) scale(0);
  }

  60%,
  100% {
    transform: translate(0%, 0%) scale(1);
  }
} */

@keyframes pulse {
  0%,
  60%,
  100% {
    transform: scale(1);
  }

  80% {
    transform: scale(1.2);
  }
}