:root {
  /* Colores */
  --color-guinda: #9f2241;
  --color-verde-fuerte: #10312b;
  --color-verde-claro: #235b4e;
  --color-blanco: white;
  --color-blanco-opaco: #ffffffe5;
  --color-azul-cielo: #007bff;
  --color-azul-cielo-claro: #3491f5;
  --color-beige: #fdebae;
  --color-dorado: #bc945a;
  --color-titulos: #404041;
  --color-dorado-degradado: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(188, 148, 90, 1) 65%
  );

  /* Bordes */
  --border-radius-botones: 0.5rem;

  /* Fuentes */
  --font-montserrat: "Montserrat", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
  font-size: 62.5%;
}

header {
  display: flex;
  flex-direction: column;
  width: 100vw;
  background-color: var(--color-verde-fuerte);

  nav {
    display: flex;
    width: 90vw;
    justify-content: space-between;
    margin: auto;

    section {
      display: flex;
      align-items: center;
    }

    .nav--logos {
      .Mex {
        width: 20rem;
      }

      .CRE {
        width: 5.4rem;
        height: 5rem;
        margin-left: 2rem;
      }
    }

    .nav--tab {
      justify-self: center;

      a {
        padding-left: 1rem;
        padding-right: 1rem;
        align-self: center;
        font-family: var(--font-montserrat);
        font-size: 1.6rem;
        font-weight: 500;
        text-decoration: none;
        color: white;
      }

      a:hover {
        text-decoration: underline;
      }
    }
  }

  i {
    display: block;
    width: 100vw;
    height: 3rem;
    background-color: var(--color-verde-claro);
  }
}

main {
  font-family: var(--font-montserrat);

  .tabla {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    .tabla__botones {
      display: flex;
      justify-content: space-between;

      .tabla__botones--filtro {
        display: flex;
        align-content: center;
        align-items: center;
      }
      a {
        text-decoration: none;
        padding: 1rem;
        padding-left: 2rem;
        padding-right: 2rem;
        color: var(--color-dorado);
      }
      select {
      }
    }

    .tabla__grid {
      table {
        display: block;
        thead {
          display: block;
        }
        tr {
          display: block;
          th {
            display: inline-block;
            width: 25%;
          }
        }
      }
    }
  }
}
