@import url(./root.css);
@import url(./header_mobile.css);


main {
  width: 100vw;
  height: 90vh;

  .modal__inicio {
    position: fixed;
    left: 50%;
    width: 40rem;
    padding: 2rem;
    background-color: var(--color-blanco);
    border-radius: var(--border-radius-botones);
    transform: translate(-50%, -5%);

    .modal__inicio--titulo {
      margin-top: 1rem;
      font-family: var(--font-montserrat);
      font-size: 1.5rem;
      font-weight: 700;
    }

    .modal__inicio--texto {
      margin-top: 1.5rem;
      font-size: 1.4rem;
      font-family: var(--font-montserrat);
    }

    .modal__inicio--boton {
      width: 25rem;
      margin-top: 2rem;
      margin-left: 10rem;
      padding: 1rem;
      background-color: var(--color-azul-cielo);
      border: none;
      border-radius: 0.3rem;
      font-family: var(--font-montserrat);
      font-weight: 500;
      color: var(--color-blanco);
    }

    .modal__inicio--boton:hover {
      cursor: pointer;
      background-color: var(--color-azul-cielo-claro);
    }
    .modal__inicio--url {
      display: inline-block;
      margin-top: 1rem;
      font-style: none;
      font-size: 1.2rem;
    }
  }

  .login {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    /* align-content: center; */
    align-items: center;

    .login__box {
      width: 35rem;
      height: auto;
      margin-top: 1rem;
      padding: 2rem;
      background-color: var(--color-blanco);
      border-radius: 2rem;
      border: 0.7rem solid var(--color-guinda);

      .login__box--logo {
        position: absolute;
        width: auto;
        height: auto;
        img {
          position: relative;
          width: 12rem;
          left: 9rem;
          bottom: 6rem;
        }
      }
      .login__box--bienvenida {
        margin-top: 6.5rem;
        text-align: center;
        font-family: var(--font-montserrat);
        font-weight: 700;
        font-size: 1.8rem;
      }

      .login__box--selector {
        margin-top: 1rem;

        button {
          width: 50%;
          padding: 0.8rem;
          font-family: var(--font-montserrat);
          font-size: 1.2rem;
          font-weight: 600;
          border: none;
          border: 0rem solid black;
          border-bottom: 0.1rem solid black;
          background-color: none;
          cursor: pointer;
        }

        button:hover {
          border: 0.1rem solid black;
        }

        .selector__fila-uno {
          display: flex;
          justify-content: space-between;
        }

        .selector__fila-dos {
          display: flex;
          justify-content: space-between;
          margin-top: 1.5rem;
        }
      }

      .login__box--consulta {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
        font-family: var(--font-montserrat);

        p {
          margin-top: 1rem;
          padding: 1rem;
          background-color: var(--color-beige);
          border-radius: var(--border-radius-botones);
          font-size: 1.1rem;
          font-weight: 600;
          text-align: justify;
        }

        a {
          width: 45%;
          margin-top: 3rem;
          padding: 1rem;
          font-size: 1.2rem;
          font-family: var(--font-montserrat);
          font-weight: 600;
          text-align: center;
          background-color: var(--color-guinda);
          border: 0.2rem solid var(--color-guinda);
          border-radius: 0.3rem;
          color: var(--color-blanco);
          cursor: pointer;
          text-decoration: none;
        }
      }

      .login__box--CRE {
        font-family: var(--font-montserrat);
        font-weight: 600;
        .CRE__aviso {
          margin-top: 2rem;
          padding: 1rem;
          background-color: var(--color-beige);
          border-radius: var(--border-radius-botones);
          font-size: 1.1rem;
          text-align: center;
        }

        form {
          p {
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
          }

          input {
            width: 100%;
            height: 2.5rem;
            padding: 1.5rem;
            border: none;
            border: 0.1rem solid black;
            border-radius: var(--border-radius-botones);
            border-left: none;
            border-radius: 0 0.5rem 0.5rem 0;
          }

          .CRE__correo {
            display: flex;

            div {
              display: flex;
              width: 4rem;
              justify-content: center;
              align-items: center;
              background-color: var(--color-guinda);
              border-radius: 0.5rem 0rem 0rem 0.5rem;

              img {
                width: 2rem;
                height: 2rem;
              }
            }
          }
          .CRE__contrasena {
            display: flex;

            div {
              display: flex;
              width: 4rem;
              justify-content: center;
              align-items: center;
              background-color: var(--color-guinda);
              border-radius: 0.5rem 0rem 0rem 0.5rem;

              img {
                width: 2rem;
                height: 2rem;
              }
            }
          }
          .CRE__submitButton {
            display: flex;
            justify-content: center;
            margin-top: 2rem;
            a {
              width: 45%;
              padding: 1rem;
              font-size: 1.2rem;
              font-family: var(--font-montserrat);
              font-weight: 600;
              text-align: center;
              background-color: var(--color-guinda);
              border: 0.2rem solid var(--color-guinda);
              border-radius: 0.3rem;
              color: var(--color-blanco);
              cursor: pointer;
              text-decoration: none;
            }
          }
        }
      }

      .login__box--suministrador {
        font-family: var(--font-montserrat);
        font-weight: 600;
        .CRE__aviso {
          margin-top: 2rem;
          padding: 1rem;
          background-color: var(--color-beige);
          border-radius: var(--border-radius-botones);
          font-size: 1.1rem;
          text-align: center;
        }

        form {
          p {
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
          }

          input {
            width: 100%;
            height: 2.5rem;
            padding: 1.5rem;
            border: none;
            border: 0.1rem solid black;
            border-radius: var(--border-radius-botones);
            border-left: none;
            border-radius: 0 0.5rem 0.5rem 0;
          }

          .CRE__correo {
            display: flex;

            div {
              display: flex;
              width: 4rem;
              justify-content: center;
              align-items: center;
              background-color: var(--color-guinda);
              border-radius: 0.5rem 0rem 0rem 0.5rem;

              img {
                width: 2rem;
                height: 2rem;
              }
            }
          }
          .CRE__contrasena {
            display: flex;

            div {
              display: flex;
              width: 4rem;
              justify-content: center;
              align-items: center;
              background-color: var(--color-guinda);
              border-radius: 0.5rem 0rem 0rem 0.5rem;

              img {
                width: 2rem;
                height: 2rem;
              }
            }
          }
          .CRE__buttons {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-top: 2rem;
            text-align: center;
            .CRE__buttons--registrarCuenta {
              width: 45%;
              padding: 1rem;
              font-size: 1.2rem;
              font-family: var(--font-montserrat);
              font-weight: 600;
              background-color: var(--color-dorado);
              border: 0.2rem solid var(--color-dorado);
              border-radius: 0.2rem;
              color: var(--color-blanco);
              cursor: pointer;
              text-decoration: none;
            }
            .CRE__buttons--submitButton {
              width: 45%;
              padding: 1rem;
              font-size: 1.2rem;
              font-family: var(--font-montserrat);
              font-weight: 600;
              background-color: var(--color-guinda);
              border: 0.2rem solid var(--color-guinda);
              border-radius: 0.3rem;
              color: var(--color-blanco);
              cursor: pointer;
              text-decoration: none;
            }
          }
        }
      }
      .login__box--personal {
        font-family: var(--font-montserrat);
        font-weight: 600;
        .CRE__aviso {
          margin-top: 2rem;
          padding: 1rem;
          background-color: var(--color-beige);
          border-radius: var(--border-radius-botones);
          font-size: 1.1rem;
          text-align: center;
        }

        form {
          p {
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
          }

          input {
            width: 100%;
            height: 2.5rem;
            padding: 1.5rem;
            border: none;
            border: 0.1rem solid black;
            border-radius: var(--border-radius-botones);
            border-left: none;
            border-radius: 0 0.5rem 0.5rem 0;
          }

          .CRE__correo {
            display: flex;

            div {
              display: flex;
              width: 4rem;
              justify-content: center;
              align-items: center;
              background-color: var(--color-guinda);
              border-radius: 0.5rem 0rem 0rem 0.5rem;

              img {
                width: 2rem;
                height: 2rem;
              }
            }
          }
          .CRE__contrasena {
            display: flex;

            div {
              display: flex;
              width: 4rem;
              justify-content: center;
              align-items: center;
              background-color: var(--color-guinda);
              border-radius: 0.5rem 0rem 0rem 0.5rem;

              img {
                width: 2rem;
                height: 2rem;
              }
            }
          }

          .CRE__buttons {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-top: 2rem;
            text-align: center;
            .CRE__buttons--registrarCuenta {
              width: 45%;
              padding: 1rem;
              font-size: 1.2rem;
              font-family: var(--font-montserrat);
              font-weight: 600;
              background-color: var(--color-dorado);
              border: 0.2rem solid var(--color-dorado);
              border-radius: 0.2rem;
              color: var(--color-blanco);
              cursor: pointer;
              text-decoration: none;
            }
            .CRE__buttons--submitButton {
              width: 45%;
              padding: 1rem;
              font-size: 1.2rem;
              font-family: var(--font-montserrat);
              font-weight: 600;
              background-color: var(--color-guinda);
              border: 0.2rem solid var(--color-guinda);
              border-radius: 0.3rem;
              color: var(--color-blanco);
              cursor: pointer;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}

/* Loader */
.loader {
  display: inline-block;
  width: 10rem;
  height: 10rem;
  border: 5px solid var(--color-guinda);
  border-radius: 50%;
  left: 10rem;
  bottom: 6.5em;
  box-sizing: border-box;
  position: absolute;
  animation: pulse 1s linear infinite;
}
.loader:after {
  content: "";
  position: absolute;
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: scaleUp 1s linear infinite;
}

@keyframes scaleUp {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }
  60%,
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
@keyframes pulse {
  0%,
  60%,
  100% {
    transform: scale(1);
  }
  80% {
    transform: scale(1.5);
  }
}

/* footer {
    width: 100vw;
    height: 10vh;
    background-image: url("../../public/images/pleca.svg");
    background-repeat: no-repeat;
    background-size: cover;
  } */
