@import url("./root.css");
header {
  width: 100vw;
  background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
  nav {
    font-size: 1.6rem;
    .navbar-brand {
      display: flex;
      align-items: center;
      font-size: 1.8rem;
      img {
        width: 3rem;
        margin-right: 1rem;
      }
    }

    .dropdown-menu {
      font-size: 1.4rem;
      font-weight: 500;
    }
  }
}

.modal-dialog{
  padding-bottom: 5rem;
  font-size: 1.6rem;
  /* font-weight: 500; */
  /* font-family: var(--font-montserrat); */

  .custom-title{
    font-size: 1.8rem !important;
    /* font-weight: 600; */
  }

  button{
    margin-left: 2rem;
    font-size: 1.6rem !important;
    font-weight: 600;
  }

  .borrarEstacion{
    background-color: #ff6384 !important;
    color: var(--color-blanco);
    border: 0.2rem solid #ff6384 !important;
  }

  .borrarEstacion:hover{
    background-color: var(--color-blanco) !important;
    color: #ff6384;
  }
}
main {
  /* background-color: var(--color-gris-background); */
  width: 100vw;
  .grafico {
    display: flex;
    flex-direction: column;
    width: 90vw;
    justify-content: center;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    align-content: center;
    .grafico__lineal {
      width: 100%;
      height: 25rem;
    }
    .grafico__dona {
      width: 100%;
    }
  }
  .tabla {
    width: 90vw;
    overflow-x: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    border: 0.2rem solid var(--color-gris-opaco);
    

    .tabla__titulos {
      font-size: 1.8rem;
      font-weight: 700;
      text-align: center;
      background-color: var(--color-gris-opaco);
    }

    .tabla__botones {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 2rem;

      .tabla__botones--filtro {
        display: flex;
        align-items: center;

        p {
          margin-right: 1rem;
          font-size: 1.2rem;
          font-weight: 700;
        }

        select {
          padding-left: 1rem;
          padding-right: 1rem;
          font-size: 1.7rem;
        }
      }
      a {
        padding-bottom: 1rem;
        padding-top: 1rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        border: 0.3rem solid var(--color-guinda);
        border-radius: 0.3rem;
        font-weight: 500;
        font-size: 1.6rem;
        font-family: var(--font-montserrat);
        text-decoration: none;
        background-color: var(--color-blanco);
        color: var(--color-guinda);
        cursor: pointer;
      }

      a:hover {
        background-color: var(--color-guinda);
        color: var(--color-blanco);
      }
    }
    .tabla__grid {
        /* border: 0.2rem solid var(--color-gris-opaco); */
        
      table {
        /* display: block; */
        thead {
          /* display: block; */
          font-size: 1.8rem;
          font-weight: 700;
        }
        tbody {
          /* display: block; */
          font-size: 1.3rem;
          font-weight: 500;
          tr:hover {
            background-color: var(--color-gris-opaco);
          }
        }
        tr {
          display: flex;
          align-content: center;
          th {
            width: auto;
            padding-top: 1rem;
            padding-bottom: 1rem;
            text-align: center;
            border-bottom: 0.2rem solid rgba(0, 0, 0, 0.185);
          }

          .tabla__grid--ID {
            width: 5rem;
            align-content: center;
          }
          .tabla__grid--nombre {
            width: 20rem;
            align-content: center;
          }
          .tabla__grid--telefono {
            width: 10rem;
            align-content: center;
          }
          .tabla__grid--correo {
            overflow-x: auto;
            width: 15rem;
            align-content: center;
          }
          .tabla__grid--estatus {
            width: 10rem;
            align-content: center;
          }
          .tabla__grid--editar {
            width: 8rem;
            align-content: center;
            img {
              cursor: pointer;
              width: 3rem;
            }
          }
          .tabla__grid--ver {
            width: 8rem;
            align-content: center;
            img {
              cursor: pointer;
              width: 3rem;
            }
          }
          .tabla__grid--habilitar {
            width: 8rem;
            align-content: center;
            img {
              cursor: pointer;
              width: 4rem;
            }
          }
          .tabla__grid--borrar {
            width: 8rem;
            align-content: center;
            img {
              cursor: pointer;
              width: 3rem;
            }
          }
          td {
            width: auto;
            padding-top: 1rem;
            padding-bottom: 1rem;
            font-size: 1.4rem;
            font-weight: 500;
            text-align: center;
            color: black;
            border-bottom: 0.1rem solid rgba(0, 0, 0, 0.185);
          }
        }
        tr:nth-child(even) {
          background-color: var(--color-gris-background);
        }
      }
    }
  }
}
