@import url(./root.css);
@import url(./header_mobile.css);
main {
  width: 100vw;

  .formulario {
    width: 80vw;
    max-width: 120rem;
    margin-left: auto;
    margin-right: auto;
    font-family: var(--font-montserrat);

    input[type = text]{
      font-size: 1.2rem;
      font-weight: 500;
      font-family: var(--font-montserrat);
    }
    input[type = file]{
      font-family: var(--font-montserrat);
    }

    select{
      font-size: 1.2rem;
      font-weight: 500;
      font-family: var(--font-montserrat);
    }

    

    .formulario__inputRadio {
      display: flex;
      margin-top: 1rem;
      margin-bottom: 2rem;

      section {
        display: flex;
        margin-right: 2rem;

        p {
          margin-left: 1rem;
          font-size: 1.4rem;
          font-weight: 500;
        }

        input[type="radio"] {
          width: 1.5rem;
        }
      }
    }

    .contenedorBorde {
      border-left: 0.1rem solid var(--color-gris-bordes);
      border-right: 0.1rem solid var(--color-gris-bordes);
      border-bottom: 0.1rem solid var(--color-gris-bordes);
    }

    .contenedorWidth {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
    }

    .formulario__separadoresTitulo {
      display: flex;
      justify-content: space-between;
      margin-top: 1rem;
      padding: 1.5rem 0 1.5rem 0;
      font-size: 1.8rem;
      font-weight: 700;
      text-align: start;
      background-color: #f5f5f5;
      border: 0.1rem solid var(--color-gris-bordes);

      p {
        padding-left: 1.5rem;
        font-size: 1.8rem;
        font-weight: 700;
        text-align: start;
      }

      img {
        width: 3rem;
        height: 3rem;
        display: inline-block;
        margin-right: 2rem;
        border: 0.1rem solid black;
        border-radius: 2rem;
        cursor: pointer;
      }
    }

    .formulario__separadores {
      padding-top: 1rem;
      font-size: 1.8rem;
      font-weight: 700;
    }
    span {
      display: block;
      width: 100%;
      border-bottom: 0.1rem solid rgba(0, 0, 0, 0.442);
      margin-bottom: 1rem;
    }

    .formulario__mapa {
      width: 100%;
      margin-top: 1rem;
      margin-bottom: 1rem;
      #map {
        height: 30rem;
      }
    }
    .formulario__tresColumnas {
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content: space-between;
      align-items: end;
      .formulario__tresColumnas--inputText {
        width: 100%;
        font-size: 1.4rem;
        font-weight: 500;
        margin-top: 1rem;
        margin-bottom: 1rem;
        input {
          width: 100%;
          height: 3.5rem;
          padding: 0 1rem;
          border: 0.1rem solid var(--color-gris-bordes);
          border-radius: 0.4rem;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          -webkit-transition: border-color ease-in-out 0.15s,
            box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s,
            box-shadow ease-in-out 0.15s;
        }

        input:focus {
          border-color: #66afe9;
          outline: 0;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
            0 0 8px rgba(102, 175, 233, 0.6);
        }

        input[type="text"] {
          font-size: 1.5rem;
        }

        select {
          width: 100%;
          height: 3.5rem;
          background-color: #05060f0a;
          border-radius: 0.5rem;
          padding: 0 1rem;
          border: 2px solid transparent;
          font-size: 1rem;
          transition: border-color 0.3s cubic-bezier(0.25, 0.01, 0.25, 1) 0s,
            color 0.3s cubic-bezier(0.25, 0.01, 0.25, 1) 0s,
            background 0.2s cubic-bezier(0.25, 0.01, 0.25, 1) 0s;

          option {
            font-size: 1.8rem;
          }
        }

        select:focus {
          font-size: 1.5rem;
        }

        select {
          font-size: 1.5rem;
        }
      }

      .formulario__tresColumnas--inputText:hover {
        select {
          outline: none;
          border-color: #05060f;
        }
      }
    }
    .formulario__dosColumnas {
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content: space-between;
      align-items: end;
      .formulario__dosColumnas--inputText {
        width: 100%;
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: 1.4rem;
        font-weight: 500;
        input {
          width: 100%;
          height: 3.5rem;
          padding: 0 1rem;
          border: 0.1rem solid var(--color-gris-bordes);
          border-radius: 0.4rem;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          -webkit-transition: border-color ease-in-out 0.15s,
            box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s,
            box-shadow ease-in-out 0.15s;
        }

        input:focus {
          border-color: #66afe9;
          outline: 0;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
            0 0 8px rgba(102, 175, 233, 0.6);
        }

        input[type="text"] {
          font-size: 1.5rem;
        }

        select {
          width: 100%;
          height: 3.5rem;
          background-color: #05060f0a;
          border-radius: 0.5rem;
          padding: 0 1rem;
          border: 2px solid transparent;
          font-size: 1rem;
          transition: border-color 0.3s cubic-bezier(0.25, 0.01, 0.25, 1) 0s,
            color 0.3s cubic-bezier(0.25, 0.01, 0.25, 1) 0s,
            background 0.2s cubic-bezier(0.25, 0.01, 0.25, 1) 0s;

          option {
            font-size: 1.8rem;
          }
        }

        select:focus {
          font-size: 1.5rem;
        }

        select {
          font-size: 1.5rem;
        }
      }

      .formulario__dosColumnas--inputFile {
        width: 100%;
        font-size: 1.6rem;
        font-weight: 500;
        margin-top: 1rem;
        margin-bottom: 1rem;
        input {
          width: 100%;
          height: 3.5rem;
          align-content: center;
          padding: 0 1rem;
          border: 0.1rem solid var(--color-gris-bordes);
          border-radius: 0.4rem;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          -webkit-transition: border-color ease-in-out 0.15s,
            box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s,
            box-shadow ease-in-out 0.15s;
        }

        input:focus {
          border-color: #66afe9;
          outline: 0;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
            0 0 8px rgba(102, 175, 233, 0.6);
        }

        input[type="text"] {
          font-size: 1.5rem;
        }
      }
    }

    .formulario_botonConsultar{
      display: flex;
      justify-content: space-between;

      p{
        font-size: 1.6rem;
        font-weight: 500;
        align-content: center;
      }
      a {
        display: inline-block;
        margin-top: 3rem;
        padding-bottom: 1rem;
        padding-top: 1rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        border: 0.2rem solid var(--color-guinda);
        border-radius: 0.3rem;
        font-weight: 400;
        font-size: 1.6rem;
        font-family: var(--font-montserrat);
        text-decoration: none;
        background-color: var(--color-blanco);
        color: var(--color-guinda);
        cursor: pointer;
      }
      a:hover {
        background-color: var(--color-guinda);
        color: var(--color-blanco);
      }

      button {
        display: flex;
        margin-top: 1rem;
        padding-bottom: 1rem;
        padding-top: 1rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        border: 0.2rem solid var(--color-guinda);
        border-radius: 0.3rem;
        font-weight: 500;
        font-size: 1.6rem;
        font-family: var(--font-montserrat);
        text-decoration: none;
        background-color: var(--color-blanco);
        color: var(--color-guinda);
        cursor: pointer;

        span{
          width: 2rem;
          height: 2rem;
          background-image: url('../../public/images/search__guinda.svg');
          background-size: cover;
          border: none;
          margin: 0;
          margin-left: 0.5rem;
        }
      }

      button:hover{
        background-color: var(--color-guinda);
        color: var(--color-blanco);

        span{
          width: 2rem;
          height: 2rem;
          background-image: url('../../public/images/search__white.svg');
        }
      }
    }
    .formulario__boton {
      display: flex;
      justify-content: flex-end;
      a {
        display: inline-block;
        margin-top: 3rem;
        padding-bottom: 1rem;
        padding-top: 1rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        border: 0.3rem solid var(--color-guinda);
        border-radius: 0.3rem;
        font-weight: 500;
        font-size: 1.6rem;
        font-family: var(--font-montserrat);
        text-decoration: none;
        background-color: var(--color-blanco);
        color: var(--color-guinda);
        cursor: pointer;
      }
      a:hover {
        background-color: var(--color-guinda);
        color: var(--color-blanco);
      }
    }

    .formulario__botonNuevoCargador {
      display: flex;
      width: 90%;
      justify-content: flex-end;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 1rem;

      button {
        display: inline-block;
        margin-top: 3rem;
        padding-bottom: 1rem;
        padding-top: 1rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        border: 0.3rem solid var(--color-dorado);
        border-radius: 0.3rem;
        font-weight: 500;
        font-size: 1.6rem;
        font-family: var(--font-montserrat);
        text-decoration: none;
        background-color: var(--color-blanco);
        color: var(--color-dorado);
        cursor: pointer;
      }

      button:hover {
        background-color: var(--color-dorado);
        color: var(--color-blanco);
      }
    }
    .formulario__botonBorrarCargador {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 1rem;

      button {
        display: inline-block;
        margin-top: 3rem;
        padding-bottom: 1rem;
        padding-top: 1rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        border: 0.3rem solid var(--color-guinda);
        border-radius: 0.3rem;
        font-weight: 500;
        font-size: 1.6rem;
        font-family: var(--font-montserrat);
        text-decoration: none;
        background-color: var(--color-blanco);
        color: var(--color-guinda);
        cursor: pointer;
      }

      button:hover {
        background-color: var(--color-guinda);
        color: var(--color-blanco);
      }
    }

    .formulario__separadoresGrande {
      width: 100%;
      border-top: 0.3rem solid var(--color-dorado);
      margin: 2rem 0 2rem 0;
    }
  }
}
